<h1>Python Script Output for <%= @user.username %></h1>


<ul>
  <% @articles.each do |article| %>
    <li><%= article.title %></li>
  <% end %>
</ul>


<%= link_to 'Back to Profile', user_path(@user) %>